<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Girls Blog</title>
</head>
<body>
    <div>
        <h1>
            <a href="/"> Django Girls Blog</a>
        </h1>
    </div>
    <div>
        <p>
            Published: 14/08/2020, 12:41
        </p>
        <h2>
            <a href="">My First blog</a>
        </h2>
        <p>
            Tongue ball tip pork belly porchetta swine sirloin jowl picanha chicken tenderloin shoulder meatloaf filet mignon.
            Corned beef turducken jerky, sausage salami leberkas shank. Biltong sausage venison ham hock ribeye kielbasa tongue
            prosciutto. Swine beef t-bone ribeye ham hock picanha, pork chop tri-tip burgdoggen sirloin boudin capicola beef ribs.ghfhfghfghfg
            Shoulder tri-tip bresaola, pork chop biltong landjaeger pancetta venison cupim fatback kevin </p>
    </div>
    <div>
        <p>
            Published: 14/08/2020, 12:41
        </p>
        <h2>
            <a href="">My First blog</a>
        </h2>
        <p>
            Tongue ball tip pork belly porchetta swine sirloin jowl picanha chicken tenderloin shoulder meatloaf filet
            mignon.
            Corned beef turducken jerky, sausage salami leberkas shank. Biltong sausage venison ham hock ribeye kielbasa
            tongue
            prosciutto. Swine beef t-bone ribeye ham hock picanha, pork chop tri-tip burgdoggen sirloin boudin capicola beef
            ribs.
            Shoulder tri-tip bresaola, pork chop biltong landjaeger pancetta venison cupim fatback kevin </p>
    </div>
</body>
</html>